  {{> top}}
  {{> nav}}
    <h1>{{{title}}}</h1>
    {{#if author}}
      <h4>By {{{author}}}, {{{publishDate}}}</h4>
    {{else}}
      <h4>By {{{site.author}}}, {{{publishDate}}}</h4>
    {{/if}}
    {{{contents}}}
  {{> bottom}}
