  {{> top}}
  {{> nav}}
    <h1>{{{title}}}</h1>
    <h4>{{{publishDate}}}</h4>
    {{#if author}}
      <h3>by {{{author}}}</h3>
    {{else}}
      <h3>by {{{site.author}}}</h3>
    {{/if}}
    {{{contents}}}
  {{> bottom}}
